In [ ]:
# import pyodbc
import pandas as pd
from tqdm  import tqdm
import sqlite3
import snscrape.modules.twitter as sntwitter

In [ ]:
""" conn = pyodbc.connect(
    "Driver ={SQL Server Native Client 11.0};"
    "Server = LAPTOP-QFUJTI9Q\SQLEXPRESS;"
    "Database =Twitter;"
    "Trusted_Connection = yes;"
) """

In [2]:
scraper = sntwitter.TwitterSearchScraper("#elonmusk")
for tweet in scraper.get_items():
    break

In [ ]:
tweet

In [4]:
tweets = []

### Pulling tweets that have Elon Mush (@elonmusk)

In [5]:
n_tweets = 50_000
for i,  tweet in tqdm(enumerate(scraper.get_items()),total=n_tweets):
        data = [
                tweet.date,
                tweet.id,
                tweet.content,
                tweet.user.username,
                tweet.likeCount,
                tweet.retweetCount,
        ]

        tweets.append(data)
        if i >n_tweets:
                break

25001it [28:44, 14.50it/s]

In [6]:
len(tweets)

25002

In [7]:
tweet_df = pd.DataFrame(
    tweets, columns=["date","id","content","username","like_count","retweet_count"]
)

In [8]:
tweet_df.head(1)

,date,id,content,username,like_count,retweet_count
0,2022-12-01 23:14:51+00:00,1598455615310946312,11/30/2022 #comingtoamerica \nAge 40 #PrinceW...,DaAnsahonSports,0,0

#### Begin SQLite3 Fun

In [9]:
conn = sqlite3.connect('./webscrape.sqlite3')
## cursor = conn.cursor()

In [10]:
tweet_df.to_sql(name ="elonMentions",con=conn,if_exists='replace',index = False)

25002

In [11]:
tweet_df.to_csv("./elonMentions.csv")