In [1]:
import pyodbc
import pandas as pd
from tqdm import tqdm
import snscrape.modules.twitter as sntwitter
import sqlite3

In [2]:
""" conn = pyodbc.connect(
    "Driver ={SQL Server Native Client 11.0};"
    "Server = LAPTOP-QFUJTI9Q\SQLEXPRESS;"
    "Database =Twitter;"
    "Trusted_Connection = yes;"
) """

' conn = pyodbc.connect(\n    "Driver ={SQL Server Native Client 11.0};"\n    "Server = LAPTOP-QFUJTI9Q\\SQLEXPRESS;"\n    "Database =Twitter;"\n    "Trusted_Connection = yes;"\n) '

In [13]:
# Pull tweet that Elon Posted
scraper = sntwitter.TwitterUserScraper("elonmusk")
for tweet in scraper.get_items():
    break

In [ ]:
tweet

In [14]:
tweets = []

### Pulling Elon Musk's (@elonmusk) Tweets

In [15]:
# Pull chokes at around 18400??

n_tweets = 18400
for i,  tweet in tqdm(enumerate(scraper.get_items()),total=n_tweets):
        data = [
                tweet.date,
                tweet.id,
                tweet.content,
                tweet.user.username,
                tweet.likeCount,
                tweet.retweetCount,
        ]

        tweets.append(data)
        if i >n_tweets:
                break

18401it [05:07, 59.90it/s]

In [16]:
len(tweets)

18402

In [17]:
tweet_df = pd.DataFrame(
    tweets, columns=["date","id","content","username","like_count","retweet_count"]
)

In [18]:
tweet_df.head(2)

,date,id,content,username,like_count,retweet_count
0,2022-12-01 21:10:08+00:00,1598424232253218816,"@kanyewest Jesus taught love, kindness and for...",elonmusk,136848,14782
1,2022-12-01 20:55:14+00:00,1598420481769512960,ðŸ‡¯ðŸ‡µðŸ‡¯ðŸ‡µ Congratulations Japan! ðŸ‡¯ðŸ‡µðŸ‡¯ðŸ‡µ\nhttps://t.co...,elonmusk,429944,60806

#### Begin SQLite3  Fun

In [19]:
conn = sqlite3.connect('./webscrape.sqlite3')
## cursor = conn.cursor()

In [20]:
tweet_df.to_sql(name ="elonTweets",con=conn,if_exists='replace',index = False)

18402

In [21]:
tweet_df.to_csv("./elonTweets.csv")