In [1]:
import pyodbc
import pandas as pd
from tqdm import tqdm
import snscrape.modules.twitter as sntwitter
import sqlite3
import seaborn as sea
from sqlalchemy import create_engine

In [13]:
# Pull tweet that Elon Posted
scraper = sntwitter.TwitterUserScraper("elonmusk")
for tweet in scraper.get_items():
    break

In [ ]:
tweet

In [14]:
tweets = []

### Pulling Elon Musk's (@elonmusk) Tweets

In [15]:
# Pull chokes at around 18400??

n_tweets = 18400
for i,  tweet in tqdm(enumerate(scraper.get_items()),total=n_tweets):
        data = [
                tweet.date,
                tweet.id,
                tweet.content,
                tweet.user.username,
                tweet.likeCount,
                tweet.retweetCount,
        ]

        tweets.append(data)
        if i >n_tweets:
                break

18401it [05:07, 59.90it/s]

In [ ]:
len(tweets)

In [17]:
tweet_df = pd.DataFrame(
    tweets, columns=["date","id","content","username","like_count","retweet_count"]
)

In [ ]:
tweet_df.head(2)

#### Begin Upload to SQL Server

In [19]:
SERVER = 'LAPTOP-QFUJTI9Q\SQLEXPRESS'
DATABASE = 'elonmusk'
DRIVER = 'SQL Server Native Client 11.0'
USERNAME = 'davidj'
PASSWORD = 'dJj135790'
DATABASE_CONNECTION = f'mssql://{USERNAME}:{PASSWORD}@{SERVER}/{DATABASE}?driver={DRIVER}'

engine = create_engine(DATABASE_CONNECTION)
connection = engine.connect()

In [ ]:
# Upload cleaner tweet to SQL Server
tweet_df.to_sql(name ="elonTweets",con=connection,if_exists='replace',index = False)