In [1]:
import pandas as pd
from tqdm  import tqdm
import sqlite3
import nltk
import seaborn as sea
import string

In [2]:
conn = sqlite3.connect('./webscrape.sqlite3')

In [3]:
elon_mentions = pd.read_sql_query('select * from elonMentions', conn)

In [ ]:
elon_mentions.head()

#### Begin Data Cleaning and Stop Words Removal

In [5]:
elon_mentions['content'] = elon_mentions['content'].str.lower()
elon_mentions['username'] = elon_mentions['username'].str.lower()
## Remove stop words

In [6]:
# nltk.download('stopwords')
from nltk.corpus import stopwords
",".join(stopwords.words('english'))
stop_words = set(stopwords.words('english'))

In [7]:
def remove_stop(x):
    return ",".join([word for word in str(x).split() if word not in stop_words])
elon_mentions['content'] = elon_mentions['content'].apply(lambda x: remove_stop(x))

In [8]:
elon_mentions['content'].head(10)

0    11/30/2022,#comingtoamerica,age,40,#princewill...
1    #timcook,dogwalked,#elonmusk,around,@apple,cam...
2    @elonmusk,make,twitter,great,again!!!,üòçüòçüòç,#twi...
3    @dcenquirer,@dineshdsouza,became,clear,twitter...
4    elon,musk,makes,final,push,end,...,https://t.c...
5    i've,considered,best,ideas,speed,growth,projec...
6    @goingparabolic,uh,oh.,1),here?,#sbf_ftx,#elon...
7    @againrachelle,,...again,,thanks,to...,(novemb...
8    #elonmusk,donated,.001%,$246,billion,fortune.,...
9    elon,musk,stated,publicly,,twitter,interfered,...
Name: content, dtype: object

### Remove Punction marks

In [9]:
punct = string.punctuation
def remove_punct(x):
    return x.translate(str.maketrans("","", punct))

    elon_mentions['content'] = elon_mentions['content'].apply(lambda x: remove_punct(x))

In [10]:
elon_mentions.head()

,date,id,content,username,like_count,retweet_count
0,2022-12-01,1598455615310946312,"11/30/2022,#comingtoamerica,age,40,#princewill...",daansahonsports,0,0
1,2022-12-01,1598455473182806016,"#timcook,dogwalked,#elonmusk,around,@apple,cam...",snowronin,0,0
2,2022-12-01,1598455472591613953,"@elonmusk,make,twitter,great,again!!!,üòçüòçüòç,#twi...",m__mzhr,1,0
3,2022-12-01,1598455432468725761,"@dcenquirer,@dineshdsouza,became,clear,twitter...",rwcnysp,0,0
4,2022-12-01,1598455410704482304,"elon,musk,makes,final,push,end,...,https://t.c...",bocvip,1,0

### Create WordCloud

In [3]:
import matplotlib.pyplot as plt
from wordcloud import WordCloud,STOPWORDS
stopwords = STOPWORDS

In [12]:
""" wc = WordCloud(
    background_color='white',
    stopwords=stopwords,
    height=600,
    width = 400
)

text = elon_mentions['content'] """

In [ ]:
# wc.generate(text)

## Write cleaned data to SQLite2

In [13]:
elon_mentions.to_sql(name ="elonMentions",con=conn,if_exists='replace',index = False)

25002